@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background: #fff7ef;   /* warm cream */
  color: #3d2b1f;
}

a {
  text-decoration: none;
  color: inherit;
}
